
:root {
    --widthContenerFilm: 147px;
    --heightContenerFilm: 210px;
}



/*
.CCcarousel{
    position: relative;
    top: 30px;
    width: 100%;
    max-width: 2000px;
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;
}**/

.categorie {
    position: relative;
    height: auto;
    width: 100%;
}

.label {
    color: white;
    padding-left: 15px;
    height: 20px;
    margin: 5px;
}

.films {
    display: flex;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

/*
.films:hover > .contenerButtonTranslate{
    display: block;

}
*/


.contenerButtonTranslate{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 150px;
    
    transform: translateY(-40%);

    background: rgba(0, 0, 0, 0.70);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    z-index: 1111;
    display: none;
    color: white;
}

.contenerButtonTranslate > span{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}



.contenerButtonTranslate.left{
    left: 0;
    border-radius: 0 10px 10px 0;
}

.contenerButtonTranslate.right{
    right: 0;
    border-radius: 10px 0 0 10px ;
}



::-webkit-scrollbar {
    display: none;
}



.film {
    position: relative;
    min-width: var(--widthContenerFilm);
    width: var(--widthContenerFilm);
    height: var(--heightContenerFilm);
    background-color: lightgray;
    padding: 2px;
    border-radius: 15px;
    transition: width 0.4s;
    overflow: hidden;
    margin: 10px;
    scroll-snap-align: center;
   /*
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    */
    background-color: #3a3a3a;
    cursor: pointer;
    transition: padding 0.2s, margin 0.2s;
    user-select: none;
}

.film:hover > .imgFilm{
    margin: 5%;
    width: 90%;
    height: 92%;
}

.imgFilm {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: top 0.2s, width 0.2s, height 0.2s, margin 0.2s;
}



